default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\FixtureContext
                - App\Tests\Behat\ErrorHandlerContext
                - Behat\MinkExtension\Context\MinkContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            base_url: https://skeleton.docker/
            default_session: default
            sessions:
                default:
                    symfony: ~
                javascript:
                    selenium2:
                        wd_host: http://selenium:4444/wd/hub
                        browser: chrome